################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotnetVue/obj
/DotnetVue/DotnetVue.csproj.user
/DotnetVue.sln
/DotnetVue/bin/Debug/netcoreapp2.1
