################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/DotnetVue.csproj.user
/bin/Debug/netcoreapp2.1
/node_modules/